[submodule "RBQFetchedResultsControllerFramework/Source/RBQRealmNotificationManager"]
	path = RBQFetchedResultsControllerFramework/Source/RBQRealmNotificationManager
	url = https://github.com/Roobiq/RBQRealmNotificationManager
